@font-face {
  font-family: 'museo';
  src: url('fonts/museosansblack-webfont.eot');
  src: url('fonts/museosansblack-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museosansblack-webfont.woff2') format('woff2'),
       url('fonts/museosansblack-webfont.woff') format('woff'),
       url('fonts/museosansblack-webfont.svg#museo_sans_cyrl900') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'museo';
  src: url('fonts/museosansbold-webfont.eot');
  src: url('fonts/museosansbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museosansbold-webfont.woff2') format('woff2'),
       url('fonts/museosansbold-webfont.woff') format('woff'),
       url('fonts/museosansbold-webfont.svg#museo_sans_cyrl700') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'museo';
  src: url('fonts/museosansregular-webfont.eot');
  src: url('fonts/museosansregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museosansregular-webfont.woff2') format('woff2'),
       url('fonts/museosansregular-webfont.woff') format('woff'),
       url('fonts/museosansregular-webfont.svg#museo_sans_cyrl300') format('svg');
  font-weight: 300;
  font-style: normal;
}

body{
  font-family: 'museo', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
p, h1, h2, h3, h4, span{
  cursor: default;
}
h2{
  margin: 0;
}
*{
  box-sizing: border-box;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  margin: 0;
  color: inherit;
}
a, a:hover, a:focus, a:active{
  outline: none;
  color: inherit;
  text-decoration: none;
  padding: 0;
}
.mainScrWrap{
  position: relative;
}
.headerMain{
  width: 100%;
  height: 100vh;
}
.headerTop{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 50px;
  background-color: #1a1a1a;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.callbackButton{
  font-size: 16px;
  font-weight: 700;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-transition: .3s color ease;
  -o-transition: .3s color ease;
  transition: .3s color ease;
}
.callbackButton:hover{
  color: #2c81c2;
}
.callbackButton svg{
  width: 10px;
  height: 13px;
  margin-right: 5px;
}
.companyDocs__link{
  opacity: .5;
  margin: 0 15px;
  -webkit-transition: .3s opacity ease;
  -o-transition: .3s opacity ease;
  transition: .3s opacity ease;
}
.companyDocs__link:hover{
  opacity:1;
}
.headerName{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.headerName__name{
  margin-right: 10px;
}
.btn{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #2c81c2;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: .3s background-color ease;
  -o-transition: .3s background-color ease;
  transition: .3s background-color ease;
}
.btn:hover{
  background-color:#3e95d8;
}
.btnSmall{
  width: 100px;
  height: 30px;
}
.signBlock a{
  font-size: 12px;
  -webkit-transition: .3s color ease;
  -o-transition: .3s color ease;
  transition: .3s color ease;
}
.signBlock a:hover{
  color:#2c81c2;
}
.signBlock__signUp{
  position: relative;
  margin-right: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.signBlock__signUp::after{
  height: 100%;
  width: 2px;
  position: absolute;
  right: -15px;
  top: 0;
  display: block;
  content:'';
  background-color: #fff;
}
.signBlock__signUp svg{
  width: 9px;
  height: 13px;
  margin-right: 10px;
}
.companyDocs__link:first-child{
  margin-left: 0;
}
.companyDocs__link:last-child{
  margin-right: 0;
}
.signBlock{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.headerBottom{
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.logos{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-width:180px;
  width: 180px;
  height: 90px;
}
.logo{
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.logo:first-child{
  background-color: #2c81c2;
}
.logo:last-child{
  background-color: #fff;
}
.logo img{
  max-width: 60%;
  max-height: 60%;
  width: 100%;
  height: 100%;
}
img{
  max-width: 100%;
}
.headerTop, .headerBottom{
  z-index: 2;
}
nav{
  flex-grow:1;
}
nav ul{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
nav ul li{
  width: calc(100% / 6);
  border: 1px solid #fff;
  background-color: rgba(0,0,0,.25);
  border-left: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
nav ul li a{
  height: 90px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
nav ul li svg{
  width: 10px;
  transform: rotateZ(270deg);
  height: 7px;
  margin-left: 5px;
  fill: #fff;
  -webkit-transition: .3s fill ease;
  -o-transition: .3s fill ease;
  transition: .3s fill ease;
}
nav ul li:hover svg{
  fill: #2c81c2;
}
nav ul li:hover{
  color: #1a1a1a;
  background-color: #fff;
}
nav ul li ul{
  display: none;
  position: absolute;
  width: 100%;
  top: 88px;
}
nav ul li ul li{
  width: 100%;
  border-left: 1px solid #fff;
  background-color: #fff;
}
nav ul li ul li a{
  color: #1a1a1a;
  -webkit-transition: .3s color ease;
  -o-transition: .3s color ease;
  transition: .3s color ease;
}
nav ul li ul li a:hover{
  color: #2c81c2;
}
.mainSlide{
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.mainSlide img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:center;
}
.slideCaption{
  position: absolute;
  padding-top: 160px;
  max-width: 1170px;
  width: 100%;
}
.swiper-container-main{
  width: 100%;
  height: 100%;
}
.mainSlide__header{
  font-size: 50px;
  font-weight: 900;
}
.mainSlide__subheader{
  font-size: 16px;
  background-color: #2c81c2;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.mainSlide__description{
  font-size: 16px;
  max-width: 870px;
  margin-bottom: 60px;
}
.mainSlide__button{
  width: 200px;
  height: 70px;
  border: 2px solid rgba(255,255,255,.15);
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.mainSlide__button:hover{
  border-color:#fff;
  background-color:#fff;
  color: #1a1a1a;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 10%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: auto;
  left: auto;
  right: 20%;
}
.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  border-radius: 0;
  background-color: #fff;
}
.swiper-pagination-bullet-active{
  background-color: #fff;
}
.advantage{
  height: 270px;
  width: calc(100% / 6);
  background-color: #2c81c2;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
}
.advantage img{
  width: 50px;
  height: 50px;
}
.advantage__desc{
  text-align: center;
  min-height: 63px;
}
.advantage:nth-child(odd) .advantage__desc{
  opacity: .75;
}
.advantage:nth-child(even){
  background-color: rgba(44,129,194,.95);
}
.newsSection{
  padding: 100px 0;
  color: #1a1a1a;
}
.news__breadcrumbs{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.news__allNews svg{
  transform:scaleX(-1);
  width: 14px;
  height: 10px;
  margin-left: 5px;
}
.news__allNews{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.news__header{
  font-size: 30px;
  font-weight: 900;
}
.newsList{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.newsItem{
  width: 49%;
}
.newsItem__img{
  width: 100%;
  height: 170px;
  object-fit:cover;
  object-position:center;
}
.newsItem__caption{
  padding: 30px;
  background-color: #f7f7f7;
}
.newsItem__date{
  font-size: 12px;
  opacity: .5;
  margin-bottom: 30px;
}
.newsItem__text{
  font-size: 16px;
  display: inline-block;
  margin-bottom: 30px;
  min-height: 72px;
  max-height: 72px;
  -webkit-transition: .3s color ease;
  -o-transition: .3s color ease;
  transition: .3s color ease;
}
.newsItem__text:hover{
  color: #2c81c2;
}
.newsItem__button{
  color: #fff;
}
.newsItem__button:hover{
  color: #fff;
}
.newsRow{
  -ms-align-items: stretch;
  align-items: stretch;
}
.newsMain{
  height: 100%;
  color: #fff;
}
.newsMain img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:center;
}
.newsCaption{
  position: absolute;
  left: 50px;
  bottom: 50px;
}
.newsCaption__text{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}
.swiper-container-partners{
  width: 80%;
}
.swiper-container-partners .swiper-slide img{
  max-width: 75%;
  max-height: 75%;
  width: 100%;
  height: 100%;
}
.partnersSection{
  padding: 50px 0;
  color: #1a1a1a;
}
.partnersSection__header{
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 40px;
}
.infoSection{
  padding: 100px 0;
  color: #fff;
}
.infoBlocks{
  height: 370px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
}
.infoBlock{
  position: relative;
}
.infoBlock__img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:center;
}
.infoBlock__caption{
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.infoBlock__caption p{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
.infoBlock:nth-child(2){
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content:space-between;
}
.infoBlock__subBlock{
  height: 170px;
  position: relative;
}
.infoBlock__subBlock img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:center;
}
.infoBlock:nth-child(2) .infoBlock__subBlock:first-child, .infoBlock:nth-child(2) .infoBlock__subBlock:last-child{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 60%;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.macroBtn{
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
.macroBtn img{
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.infoBlock:nth-child(2) .infoBlock__subBlock:nth-child(2), .infoBlock:nth-child(2) .infoBlock__subBlock:nth-child(3){
  width: 33%;
}
.infoBlock__subBlock .infoBlock__caption{
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
.btnBig{
  width: 100%;
}
.infoBlock__subBlock .infoBlock__caption p{
  font-size: 16px;
  font-weight: 700;
}
footer{
  padding: 100px 0;
  background-color: #1a1a1a;
  color: #fff;
}
.footerContacts ul{
  margin-bottom: 40px;
}
.footerContacts ul li{
  margin-bottom: 20px;
}
.footerContacts ul li a{
  font-size: 16px;
  -webkit-transition: .3s color ease;
  -o-transition: .3s color ease;
  transition: .3s color ease;
}
.footerContacts ul li a:hover{
  color: #2c81c2;
}
.footerPhone{
  font-size: 25px;
  font-weight: 900;
  color: #2c81c2;
  -webkit-transition: .3s color ease;
  -o-transition: .3s color ease;
  transition: .3s color ease;
}
.footerContacts__contacts{
  margin-bottom: 40px;
}
.footerMail{
  font-size: 16px;
  -webkit-transition: .3s color ease;
  -o-transition: .3s color ease;
  transition: .3s color ease;
}
.footerMail:hover{
  color: #2c81c2;
}
.footerContacts__policy{
  opacity: .5;
  text-decoration: underline;
  -webkit-transition: .3s opacity ease;
  -o-transition: .3s opacity ease;
  transition: .3s opacity ease;
}
.footerContacts__policy:hover{
  opacity: 1;
  text-decoration: underline;
}
footer h4{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}
ul.footerMenuList li{
  margin-bottom: 15px;
}
ul.footerMenuList li a{
  opacity: .5;
  -webkit-transition: .3s opacity ease;
  -o-transition: .3s opacity ease;
  transition: .3s opacity ease;
}
ul.footerMenuList li a:hover{
  opacity: 1;
}
.swiper-button-next, .swiper-button-prev{
  height: 24px;
}
nav ul li:hover ul{
  display: block;
}
iframe{
  width: 100%;
}
.hamburger{
  display: none;
}

@media(max-width: 1400px){
  .companyDocs__link{
    margin: 0 5px;
  }
}
@media(max-width: 1300px){
  .headerTop{
    padding: 20px;
  }
  .headerName__name{
    font-size: 12px;
  }
  .companyDocs__link{
    font-size: 12px;
  }
}
@media(max-width: 1199px){
  .news{
    margin-top: 40px;
  }
  .newsItem__text{
    min-height: 48px;
    max-height: 48px;
  }
  .infoBlock:first-child{
    width: 33%;
  }
  .slideCaption{
    max-width: 800px;
  }
  .infoBlocks{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .infoBlock:nth-child(2){
    order:3;
    margin-top: 20px;
  }
  .infoBlocks{
    height: auto;
  }
  .infoBlock:nth-child(2) .infoBlock__subBlock:first-child, .infoBlock:nth-child(2) .infoBlock__subBlock:last-child{
    margin-bottom: 10px;
  }
  .footerPhone{
    font-size: 20px;
  }
  .companyDocs{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #454545;
  }
  .headerTop{
    top: 40px;
  }
  .headerBottom{
    top: 110px;
  }
  nav ul li{
    font-size: 10px;
    height: 65px;
  }
  .logos{
    min-width: 130px;
    width: 130px;
    height: 65px;
  }
  nav ul li ul{
    top: 65px;
  }
}
@media(max-width: 991px){
  .companyDocs__link{
    margin: 0 10px;
  }
  .callbackButton{
    font-size: 12px;
  }
  .headerName__name{
    font-size: 10px;
  }
  .slideCaption{
    max-width: 500px;
  }
  .mainSlide__header{
    font-size: 35px;
  }
  .advantage{
    width: calc(100% / 3);
  }
  footer h4{
    font-size: 16px;
  }
  .footerPhone{
    font-size: 14px;
  }
  .hamburger{
    display: block;
  }
  nav{
    display: none;
    position: absolute;
    width: 100%;
    top: 65px;
  }
  .headerBottom{
    justify-content: space-between;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before{
    background-color: #fff;
  }
  nav ul{
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li{
    width: 100%;
    border: none;
  }
  nav ul li ul{
    position: relative;
  }
  nav ul li{
    height: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li svg{
    display: none;
  }
  nav ul li ul{
    display: block;
    position: static;
  }
  nav ul li a{
    height: 50px;
    font-size: 16px;
  }
  nav ul li{
    background-color: rgba(0,0,0,.9);
  }
  nav ul li ul li{
    background-color: transparent;
  }
  nav ul li ul li a{
    color: #fff;
  }
  nav ul li ul li a{
    font-size: 12px;
    height: 30px;
  }
}
@media(max-width: 767px){
  .signBlock__signUp{
    margin-right: 10px;
  }
  .signBlock__signUp::after{
    right: -6px;
  }
  .headerName__name{
    max-width: 180px;
    text-align: right;
  }
  .headerTop{
    padding: 10px;
  }
  .headerBottom{
    top: 90px;
  }
  .slideCaption{
    max-width: 550px;
  }
  .mainSlide__header{
    font-size: 25px;
  }
  .mainSlide__subheader{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .mainSlide__description{
    font-size: 12px;
    margin-bottom: 20px;
  }
  .mainSlide__button{
    height: 50px;
  }
  .companyDocs{
    height: 30px;
    top: -30px;
  }
  .headerTop{
    top: 30px;
  }
  .headerBottom{
    top: 80px;
  }
  .logos{
    height: 40px;
    min-width: 80px;
    width: 80px;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    width: 34px;
    height: 3px;
  }
  .hamburger-inner::before{
    top: -8px;
  }
  .hamburger--collapse .hamburger-inner::after{
    top: -16px;
  }
  .hamburger-box{
    width: 34px;
    height: 20px;
  }
  .slideCaption{
    padding-top: 100px;
  }
  .mainSlide__header br{
    display: none;
  }
  .mainSlide__header{
    font-size: 24px;
  }
  .advantage{
    height: 220px;
  }
  .newsSection{
    padding: 50px 0;
  }
  .infoBlock__caption p{
    font-size: 16px;
  }
  .infoBlock__caption span{
    font-size: 12px;
  }
  .infoBlock__subBlock{
    height: 120px;
  }
  footer .row > div:last-child{
    margin-top: 40px;
  }
  footer{
    padding: 50px 0;
  }
  .footerContacts ul li{
    margin-bottom: 10px;
  }
  ul.footerMenuList li{
    margin-bottom: 10px;
  }
  .footerContacts__policy{
    font-size: 10px;
  }
  .footerContacts ul{
    margin-bottom: 20px;
  }
  .footerContacts__contacts{
    margin-bottom: 20px;
  }
  .infoSection{
    padding: 50px 0;
  }
  nav{
    top: 42px;
  }
}
@media(max-width: 575px){
  .companyDocs__link{
    font-size: 8px;
  }
  .headerName{
    display: none;
  }
  .headerBottom{
    top: 68px;
  }
  .slideCaption{
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantage{
    width: calc(100% / 2);
    padding: 20px 0;
  }
  .advantage:nth-child(3){
    order:4;
  }
  .advantage:nth-child(6){
    order:5;
  }
  .newsItem__caption{
    padding: 10px;
  }
  .newsItem__text{
    font-size: 14px;
    min-height: 72px;
    height: 72px;
  }
  .footerContacts{
    order:3;
    margin-top: 40px;
  }
  .macroBtn{
    font-size: 14px;
  }
  .infoBlock__caption{
    bottom: 10px;
    left: 20px;
  }
  .infoBlock{
    height: 120px;
    margin-bottom: 20px;
  }
  .infoBlock:nth-child(2){
    height: auto;
    margin-top: 0;
  }
  .mainSlide__header{
    font-size: 30px;
  }
}


/********MODALS********/
.modal{
  color: #1a1a1a;
}
.modal-content{
  border-radius: 0;
}
.modal-content{
  padding: 50px;
  position: relative;
}
.modal-dialog{
  max-width: 470px;
}
.modal-header{
  padding: 0;
  border: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-title{
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
}
.modal-subtitle{
  font-size: 16px;
  margin-bottom: 40px;
}
.modal-content .close{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal-body{
  padding: 0;
}
.modalForm{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modalForm > *{
  width: 100%;
}
.formGroup{
  padding-top: 20px;
  position: relative;
}
.formGroup:first-child::before{
  content:'Ваше имя';
  font-family: 'museo',sans-serif;
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
}
.formGroup:nth-child(2)::before{
  content:'Ваш телефон';
  font-family: 'museo',sans-serif;
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
}
.modalForm input[type="submit"]{
  width: 100%;
  background: none;
  background-color: #2c81c2;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  height: 70px;
  cursor: pointer;
  margin-bottom: 25px;
  -webkit-transition: .3s background-color ease;
  -o-transition: .3s background-color ease;
  transition: .3s background-color ease;
}
.modalForm input[type="submit"]:hover{
  background-color: #3e95d8;
}
.formGroup input{
  height: 70px;
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-transition: .3s border-color ease;
  -o-transition: .3s border-color ease;
  transition: .3s border-color ease;
}
.formGroup input:hover{
  border-color: #3e95d8;
}
.formGroup input:focus{
  border: 2px solid #2c81c2;
}
.closeModal{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #2c81c2;
  border: none;
  color: #fff!important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  height: 70px;
  cursor: pointer;
  -webkit-transition: .3s background-color ease;
  -o-transition: .3s background-color ease;
  transition: .3s background-color ease;
}
.closeModal:hover{
  background-color: #3e95d8;
}
.modal-content .close svg{
  width: 20px;
  height: 20px;
}
.checkbox {
	display: none;
}
.checkbox-custom {
	position: relative;
	width: 16px;
	height: 16px;
	border: 2px solid #2c81c2;
}
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #413548;
	border-radius: 2px;
}
@media(max-width: 575px){
  .modal-subtitle br{
    display: none;
  }
  .modal-content{
    padding: 25px;
  }
  span.label{
    font-size: 10px;
  }
}
